.message, .incoming {
    font-size: 1.1em;
    margin-bottom: .5em;
}

.message:last-child, .incoming:last-child {
    margin: 0;
}

.incoming {
    text-align: right;
}

.message.incoming:last-child {
    margin: 0;
}