.header {
   display: block;
   margin-bottom: .5em;
}

.loginForm {
   display: inline-flex;
   flex-direction: column;
   justify-content: space-between;
   height: 7em;
   width: 10em;
}

.loginForm input {
   width: 100%;
   height: 2.5em;
   margin-bottom: 1em;
}

.checkbox {
   display: flex;
   justify-content: center;
}

.checkbox input {
   margin-right: 1em;
}

.checkbox label {
   margin-left: .2em;
}

.btn {
   height: 2.5em;
   width: 60%;
   margin: auto;
}