@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import "../../assets/styles/colors";
@import "../../assets/styles/breakpoints";

body {
   background-image: url("../../assets/img/background/top.png"), url("../../assets/img/background/bottom.png");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right top, left bottom;
   background-attachment: fixed;
   background-color: $accent;
   color: #ffffff;
   font-family: Ubuntu, sans-serif;
   font-weight: 400;
   padding: 0 0 230px 0;
   margin: 0;
   box-sizing: border-box;

   @media (max-width: $md2) {
      padding-bottom: 80px;
   }

   @media (max-width: $md3) {
      background-attachment: scroll;
   }
}

._container {
   margin: 0 auto;
   width: 100%;
}

.app {
   width: 100%;
   min-height: 100%;
   overflow: hidden;

   &__blocks {
      display: flex;
      justify-content: center;

      @media (max-width: $md1) {
         flex-direction: column;
         align-items: center;
      }

      @media (max-width: $md2) {
         padding: 0 10px;
      }
   }

   &__title {
      margin: 65px 0 60px 0;
      @media (max-width: $md2) {
         margin: 65px 0 65px 0;
      }

      @media (max-width: $md3) {
         margin: 32px 0 24px 0;
      }
   }
}