@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

// colors
$accent: #373AF5;
$secondary: #8083A4;
$base_strong: #2C2D76;

//breakpoints
$md1: 1580px;
$md2: 771px;
$md3: 525px;

body {
   background-image: url("../../assets/img/background/top.png"), url("../../assets/img/background/bottom.png");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right top, left bottom;
   background-attachment: fixed;
   background-color: $accent;
   color: #ffffff;
   font-family: Ubuntu, sans-serif;
   font-weight: 400;
   padding: 0 0 230px 0;
   margin: 0;
   box-sizing: border-box;

   @media (max-width: $md2) {
      padding-bottom: 80px;
   }
}

._container {
   margin: 0 auto;
   width: 100%;
}

.title {
   font-size: 102px;
   width: 740px;
   display: flex;
   flex-direction: column;
   margin: 0 auto;

   &__item {
      margin-bottom: -15px;
      @media (max-width: $md2) {
         margin-bottom: -10px;
      }
      @media (max-width: $md3) {
         margin-bottom: -5px;
      }
   }

   &__item-2 {
      align-self: flex-end;
   }

   @media (max-width: $md2) {
      font-size: 70px;
      width: 509px;
   }

   @media (max-width: $md3) {
      font-size: 35px;
      width: 253px;
   }
}

.app {
   width: 100%;
   min-height: 100%;
   overflow: hidden;

   &__blocks {
      display: flex;
      justify-content: center;

      @media (max-width: $md1) {
         flex-direction: column;
         align-items: center;
      }

      @media (max-width: $md2) {
         padding: 0 10px;
      }
   }

   &__title {
      margin: 65px 0 60px 0;
      @media (max-width: $md2) {
         margin: 65px 0 65px 0;
      }

      @media (max-width: $md3) {
         margin: 32px 0 24px 0;
      }
   }
}

.card {
   width: 660px;
   height: 524px;
   background: #ffffff;
   box-shadow: 0 4px 4px rgba(4, 5, 73, 0.25),
   14px 14px 20px rgba(5, 6, 114, 0.2);
   border-radius: 8px;
   padding: 50px 58px 70px 50px;

   @media (max-width: $md2) {
      width: 100%;
      height: 100%;
      padding: 32px 0 63px 0;
   }

   &:first-child {
      margin-right: 30px;
      @media (max-width: $md1) {
         margin: 0 0 34px 0;
      }

      @media (max-width: $md3) {
         margin: 0 0 10px 0;
      }
   }

   &__content {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: $md2) {
         justify-content: flex-start;
         text-align: center;
         padding: 0 24px 0 24px;
      }

      &-title {
         font-size: 32px;
         color: $base_strong;
         margin: 0 0 32px 0;
      }

      &-header {
         @media (max-width: $md2) {
            margin-bottom: 33px;
         }
      }
   }

   &__select {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: $md2) {
         margin-bottom: 33px;
         justify-content: space-around;
         flex-wrap: wrap;
      }
   }
}

.weather {
   display: flex;
   justify-content: space-between;
   align-items: center;

   @media (max-width: 660px) {
      overflow: auto;
   }

   &__arrow-left {
      cursor: pointer;
   }

   &__arrow-right {
      cursor: pointer;
   }
}

.select {
   display: inline-block;
   width: 252px;
   height: 48px;
   background: rgba(128, 131, 164, 0.06);
   border: 2px solid rgba(128, 131, 164, 0.2);
   box-sizing: border-box;
   border-radius: 8px;
   padding: 0 16px;
   font-size: 16px;
   line-height: 24px;
   color: $secondary;
   //color: $base_strong;
   cursor: pointer;
   appearance: none;
   position: relative;

   &:hover {
      border: 2px solid $secondary;
   }

   &:focus-within {
      outline-style: none;
   }
}

.select-city {
   &__wrapper {
      display: inline-block;
      position: relative;

      &:before {
         content: '';
         display: inline-block;
         position: absolute;
         width: 16px;
         height: 16px;
         top: 24px;
         right: 20px;
         transform: translateY(-25%);
         background: url('../../assets/img/icons/arrow-down.svg') 0 0 no-repeat;
      }

      &.active:before {
         transform: translateY(-75%) rotate(-180deg);
      }
   }
   &:focus {
      border: 2px solid $accent;
   }
}

.select-date {
   opacity: 0;
   text-align: left;
   &__wrapper {
      position: relative;
      background: url(../../assets/img/icons/calendar.svg) no-repeat 220px;
      @media (max-width: 571px) {
         background: url(../../assets/img/icons/calendar.svg) no-repeat 220px 48px;
      }
   }
   &__placeholder {
      position: absolute;
      @media (max-width: 571px) {
         margin-top: 33px;
      }
      &:hover {
         border: 2px solid $secondary;
      }
   }
   @media (max-width: 571px) {
      margin-top: 33px;
   }

   &::-webkit-calendar-picker-indicator {
      opacity: 0;
      -webkit-appearance: none;
   }
   &:focus {
      border: 2px solid $accent;
      opacity: 1;
   }
}

.weather-card {
   width: 174px;
   height: 238px;
   background: $accent;
   border: 2px solid $accent;
   box-sizing: border-box;
   box-shadow: 0 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
   border-radius: 8px;
   padding: 20px;

   @media (max-width: 660px) {
      margin-right: 16px;
   }
   @media (max-width: $md3) {
      width: 100%;
   }

   &__flex {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
   }

   &__date {
      font-weight: bold;
      font-size: 16px;
      align-self: flex-start;
   }

   &__image {
      width: 120px;
      height: 120px;
      align-self: center;
   }

   &__temp {
      font-weight: bold;
      font-size: 32px;
      align-self: flex-end;
   }
}

.historic-weather-card {
   width: 100%;
   height: 238px;
   background: #373AF5;
   border: 2px solid #373AF5;
   box-sizing: border-box;
   box-shadow: 0 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
   border-radius: 8px;
   padding: 20px;

   &__flex {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      @media (max-width: $md3) {
         width: 100%;
      }
   }

   &__date {
      font-weight: bold;
      font-size: 16px;
      color: white;
      @media (max-width: $md2) {
         display: inline-block;
         text-align: left;
      }
   }

   &__image {
      width: 150px;
      height: 150px;
      align-self: center;
   }

   &__temp {
      font-weight: bold;
      font-size: 32px;
      align-self: flex-end;
   }
}

.placeholder {
   text-align: center;
   @media (max-width: $md3) {
      margin: 0 auto;
      width: 240px;
   }

   &__image {
      margin-bottom: 28px;
      @media (max-width: $md3) {
         width: 160px;
         margin-bottom: 24px;
      }
   }

   &__text {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #8083a4;
   }
}

.error-text {
   font-weight: bold;
   font-size: 25px;
   align-self: center;
}