@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
  background-image: url("../../assets/img/background/top.png"), url("../../assets/img/background/bottom.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top, 0 -230px;
  background-color: #373af5;
  color: #ffffff;
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  padding-bottom: 230px;
}

._container {
  margin: 0 auto;
  width: 100%;
}

.app {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.app__blocks {
  display: flex;
  justify-content: center;
}

.app__card {
  width: 660px;
  height: 524px;
  background: #ffffff;
  box-shadow: 0 4px 4px rgba(4, 5, 73, 0.25),
  14px 14px 20px rgba(5, 6, 114, 0.2);
  border-radius: 8px;
  padding: 50px 58px 70px 50px;
}

.app__card:first-child {
  margin-right: 15px;
}

.app__card:last-child {
  margin-left: 15px;
}

.app__card-title {
  font-size: 32px;
  color: #2C2D76;
  margin: 0 0 32px 0;
}

.app__title {
  margin: 65px 0 60px 0;
}

.app__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.app__card-blocks {
  display: flex;
  justify-content: space-around;
}