.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 100%;
}

.dialogs .dialogsItems {
    padding: 10px;
}

.dialogs .messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dialogs .messagesList {
    padding: 10px;
    font-style: italic;
    font-size: .8em;
    font-family: "Lato", serif;
}

button::-moz-focus-inner {
    border: 0;
}

.addMessage {
    display: flex;
    align-items: center;
    margin: 0 .5em 1.3em .5em;
    height: 3em;
}

.sendButton {
    margin-left: 2em;
    box-shadow: 0 0 0 2px #9fb4f2;
    background: #7892c2 linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    border-radius:10px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:19px;
    padding:10px 15px;
    text-decoration:none;
    text-shadow:0 1px 0 #283966;
    user-select: none;
}

.sendButton:hover {
    background: #476e9e linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
}
.sendButton:active {
    outline: none;
    position:relative;
    top:1px;
}

.sendButton:active, .sendButton:focus {
    outline: none;
}

.textArea {
    width: 100%;
    font-size: 1em;
    color: darkblue;
    font-family: Arial, sans-serif;
    padding: .1em;
    height: 5em;
    border-width: 0;
    background-color: #FFFFFF;
    border-style: solid;
    border-radius: 5px;
}

.textArea:focus {
    border-color: #CCCCCC;
    box-shadow: 0 0 5px rgba(0,148,231,.82);
}

.textArea:active, .textArea:focus {
    outline: none;
}
