body {
  background-color: #405060;
  color: aliceblue;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul, li {
	list-style: none;
}

.app-wrapper {
	width: 1200px;
	margin: 0px auto;
	display: grid;
	grid-template-areas:
	"head head"
	"nav content";

	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
}