body {
  background-color: #405060;
  color: aliceblue;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 28px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul, li {
	list-style: none;
}

a {
	color: #fff;
	text-decoration: none
}

.app-wrapper {
	padding: 10px 25px 0 25px;
	width: 100%;
	display: grid;
	grid-template-areas:
	"head head"
	"nav content";

	grid-template-rows: 120px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 1em;
}

.app-wrapper-content {
	padding: 10px;
	background-color: lightslategray;
	border-radius: 10px;
	box-shadow:  46px 46px 73px #191f25,
	-46px -46px 73px #374553;;
}