.seven-day-forecast {
  width: 660px;
  height: 524px;
  background: #ffffff;
  box-shadow: 0 4px 4px rgba(4, 5, 73, 0.25),
  14px 14px 20px rgba(5, 6, 114, 0.2);
  border-radius: 8px;
  color: #2C2D76;
  padding: 50px 58px;
}
.seven-day-forecast__footer-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #8083a4;
}
