.title {
   font-size: 102px;
   width: 740px;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   line-height: 95px;
   /*margin-bottom: -7px;*/
}

.title__item-2 {
   text-align: right;
}