.myPost {
	display: flex;
	flex-direction: column;
	max-width: 220px;
}

.myPost button {
	margin: 10px auto 0 auto;
	font-size: .6em;
	white-space: nowrap;
	padding: .6em .8em;
	border-radius: 5px;
   background-color: rgba(255,224,3,1);
	box-shadow: -.2em .2em .3em #ffffff;
   position: relative;
   top: 0;
   left: 0;
   transition: all .15s linear 0s;
}

.myPost button:active, .myPost button:focus {
   outline: none;
}

.myPost button:hover {
   background-color: rgba(0,255,66,0.64);
   color: cornsilk;
}

.myPost button:active {
   bottom: -2px;
   left: -2px;
   box-shadow: none;
}

.myPost h3 {
   text-align: center;
	margin-bottom: .3em;
}

.postArea {
   width: 100%;
   font-size: 1em;
   color: darkblue;
   font-family: Arial, sans-serif;
   padding: .1em;
   height: 3em;
   border-width: 0;
   background-color: #FFFFFF;
   border-style: solid;
   border-radius: 5px;
}

.postArea:focus {
   border-color: #CCCCCC;
   box-shadow: 0 0 5px rgba(0,148,231,.82);
}

.postArea:active, .postArea:focus {
   outline: none;
}


.posts {}