body {
   background-color: #405060;
   color: #fff;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-size: 35px;
   user-select: none;
}

.wrapper {
   width: 100%;
}

.app {
   width: 430px;
   margin: 0 auto;
   border: 2px solid #fff;
}