.header {
	grid-area: head;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header img {
	width: 100px;
}

.header span {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 35px;
}