@import "../../assets/styles/colors";
@import "../../assets/styles/breakpoints";

.historic-weather-card {
   width: 100%;
   height: 238px;
   background: $accent;
   border: 2px solid $accent;
   box-sizing: border-box;
   box-shadow: 0 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
   border-radius: 8px;
   padding: 20px;

   &__flex {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      @media (max-width: $md3) {
         width: 100%;
      }
   }

   &__date {
      font-weight: bold;
      font-size: 16px;
      color: white;
      @media (max-width: $md2) {
         display: inline-block;
         text-align: left;
      }
   }

   &__image {
      width: 150px;
      height: 150px;
      align-self: center;
   }

   &__temp {
      font-weight: bold;
      font-size: 32px;
      align-self: flex-end;
   }
}

.error-text {
   font-weight: bold;
   font-size: 25px;
   align-self: center;
}