@import "../../assets/styles/colors";
@import "../../assets/styles/breakpoints";

.weather-card {
   width: 174px;
   height: 238px;
   background: $accent;
   border: 2px solid $accent;
   box-sizing: border-box;
   box-shadow: 0 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
   border-radius: 8px;
   padding: 20px;

   @media (max-width: 660px) {
      margin-right: 16px;
   }
   @media (max-width: $md3) {
      width: 100%;
   }

   &__flex {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
   }

   &__date {
      font-weight: bold;
      font-size: 16px;
      align-self: flex-start;
   }

   &__image {
      width: 120px;
      height: 120px;
      align-self: center;
   }

   &__temp {
      font-weight: bold;
      font-size: 32px;
      align-self: flex-end;
   }
}