.card {
	width: 400px;
	display: flex;
	align-items: flex-start;
	/* justify-content: space-between; */
	font-size: 0.8em;
	white-space: nowrap;
	margin-bottom: 25px;
}

.avatar {
	border-radius: 5%;
	width: 50%;
	margin-right: 1.5em;
	box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
}

.list li{
	margin-bottom: 10px;
}